asgiref==3.2.3
beautifulsoup4==4.8.2
Django==3.0.3
django-bootstrap4==1.1.1
django-tempus-dominus==5.1.2.13
Pillow==9.0.1
psycopg2-binary==2.8.4
pytz==2019.3
soupsieve==1.9.5
sqlparse==0.3.0

pytest~=5.4.1