<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<html>
<head>
{% block head %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <title>{% block title %} My company website {% endblock %}</title>
{% endblock %}
</head>
<body>
    {% block logo %}
    <div class="container">
        <div class="card">
            <div class="card-body">
            <img class="logo" src="{% static "wedding_products/logo.png" %}" alt="logo"/>
    {% endblock %}
{% block buttons %}
{% endblock %}
{% block content %}
    <h4 style="padding-top: 2%; padding-bottom: 2%; font-weight: bold">Dostęp do serwisu wymaga zalogowania się :)</h4>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Zaloguj się">
        </form>
    </div>
{% endblock %}
    <div>
    {% if response %}
    {{ response }}
    {% endif %}
    </div>
    <div class="card-footer text-muted" style="background-color: #d4c1a9; bottom:0; border-radius: 15px">
            © Created by <a href="https://github.com/Bocian19">Łukasz Bocian</a>
    </div>
            </div>
        </div>
</div>
</body>
</html>