<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
<html>
<head>
    {% block head %}
        {% block style %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}
        <title>{% block title %} Safo management {% endblock %}</title>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    {% endblock %}
</head>
<body>
<header class="navbar-expand" id="logo" style="display: none; margin-top: 3%">
    <a class="navbar-brand" href="https://safo-salon.pl" style="box-sizing: border-box; display: inline">
        <img src="{% static "wedding_products/logo.png" %}" alt="logo" width="20%" style="margin-left: 40%;">
    </a>
</header>
<div class=".container" style="margin-top: 2%; text-align: center">
    {% block logo %}
    {% endblock %}
    {% block buttons %}
    {% endblock %}
    {% block content %}

        <h4 style="padding-top: 2%; padding-bottom: 2%; font-weight: bold; font-family: KacstDecorative">Dostęp do serwisu wymaga zalogowania się
            :)</h4>
        <div class="form">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="Zaloguj się" style="background-color: antiquewhite">
            </form>
        </div>

    {% endblock %}
    <div>
        {% if response %}
            {{ response }}
        {% endif %}
    </div>
</div>

</body>
<script type="text/javascript" src="../static/js/app.js"></script>
</html>