
.welcome_text {
    text-align: center;
    font-family: cursive Roundband;
}

body {
  background: url('wedding_products/back.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.calendarStyle {
    background-color: floralwhite;
}